body {
  font-size: 13px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  margin-top: 60px;
}

a:link { color:black; text-decoration:none; }
a:visited { color:black; text-decoration:none; }
a:hover { color:black; text-decoration:none; }
a:active { color:black; text-decoration:none; }

.cover-heading { font-size: 240px; }
.jumbotron {
  font-size: 240px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  background-color: #ffffff;
}
.jumbotron a:hover { color: black; text-decoration: none; }

.subtitle { font-size: 9px; }
.subtitle a:hover { color: black; text-decoration: none; }
